<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='admin/junior/style/junior_base_style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='img/favicon.ico') }}" type="image/x-icon">
    {% block head_extra %}{% endblock %} {# Для дополнительных стилей/скриптов в head #}
    <link rel="stylesheet" href="{{ url_for('static', path='admin/junior/style/media.css') }}">
    <script src="{{ url_for('static', path='admin/junior/js/nav_mobile.js') }}"></script>
</head>
<body>
<main>
    <nav>
        <div class="nav">
            <img src="{{ url_for('static', path='img/logo.png') }}" alt="" class="logo">
            <div class="container">
                <ul id="first">
                    <li><a href="{{ url_for('admin_junior_postamats') }}">Постаматы</a></li>
                    <li><a href="{{ url_for('admin_junior_offices') }}">Офисы</a></li>
                    <li><a href="{{ url_for('admin_junior_products') }}">Товары</a></li>
                    {# Updated href #}
                </ul>
            </div>
        </div>
        <button type="button" class="exit" onclick="window.location.href='{{ url_for('logout') }}'">Выход</button>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>